@import "./common.scss";

/* 博客文章相关样式 */

.postCon {
	padding: 10px 0 0;
	p {
		line-height: 24px;
		margin: 7px 0
	}
}


#topics {
	.postTitle {
		//文章标题
		text-align:center;
		padding: 5px 0 10px 0;
	}
	.postBody {
		//文章正文
		p {
			line-height: 24px;
	    margin: 7px 0;
		}
		iframe {
			//防止容纳图片的iframe越出边间出现横向滚动条
			max-width : 100%;
		}
	}
}


//评论区
#comment_form {
  margin: 10px 0;
	#ad_t2, .c_ad_block {
		//隐藏广告
		display: none;
	}
	#tbCommentBody {
    font-size: 14px;
    line-height: 1.5;
    height: 200px;
		width: 92%;
    padding: 5px 12px;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border: 1px solid #ccc;
    @include border_radius(4px);
    resize: none;
		&:focus {
			border-color: $base_color;
			box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.15); //内部阴影
		}
	}
	//提交评论 按钮
	#btn_comment_submit, .comment_btn {
		cursor: pointer;
		font-size: 18px;
		color : #fff;
    position: relative;
    background: $base_color;
    width: 120px;
    height: 36px;
    border: none;
		@extend %box_gradual;
	}
	//评论列表 与 发表评论 标题文字
	#commentform_title, .feedback_area_title {
	    border-bottom: solid 3px desaturate($base_color, 20%);
			font-size: 20px;
	    margin-bottom: 10px;
	    padding: 10px 20px 5px 10px;
	    color: $base_color;
	    background-image: none;
	}
}


#blog_post_info {
	> #green_channel {
		//好文要顶 关注我 收藏该文
		float: left;
	}
	> #author_profile {
		//作者信息
		display:none;
	}
	> #div_digg {
		//推荐 反对
		margin-right: 0;
		.diggit, .buryit {
			float: none;
			display: inline-block;
			margin: 0 5px;
		}
	}
}

.feedbackListSubtitle {
    font-size: 12px;
    font-weight: 400;
    color: #888;
    a {
      color: #888;
    }
}
//评论
.feedbackItem {
  @extend %comment;
}
