$nav_height : 48px;
$base_color : #FF6666;

/* base */
* {
  margin: 0;
  padding: 0;
}
body {
    font-family: '微软雅黑', '宋体', Arial;
    font-size: 15px;
    background-color: #ececec;
}
ul {
    list-style: none;
    padding: 0;
}
image {
    border: none;
}
a {
  text-decoration: none;
  color: #464646;
  &:hover {
    color: #464646;
  }
  &:visited {
    color: #464646;
  }
}
h3 {
  font-size: 15px;
  font-weight: 700;
}

/* 滚动条 */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: #fff !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: $base_color;
    &:hover {
      background-color: lighten($base_color, 10%);
    }
    &:active {
      height: 50px;
      border-radius: 2px;
      background-color: darken($base_color, 10%);
    }
}

/* 返回顶部 按钮 */
.scrollBtn {
    position: fixed;
    right: 15px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    > a {
      overflow: hidden;
      height: 50px;
      width: 50px;
      border-radius: 25px;
      display: inline-block;
      -webkit-transition: opacity .5s ease;
      transition: opacity .5s ease;
      background-color: $base_color;
      opacity: .6;
      filter: alpha(opacity=60);
      &:hover {
        opacity: .9;
        filter: alpha(opacity=90);
      }
      > .trangle {
        width : 0;
        height : 0;
        border:10px transparent solid;
        border-bottom-color: #fff;
        margin:8px auto;
      }
    }
}

::selection {
    color: #fff;
    background: #FFCC99;
}


.clearfix {
    zoom: 1;
    &:after {
      display: table;
      content: '';
      clear: both;
    }
    &:before {
      display: table;
      content: '';
    }
}

.ff-t {
    font-family: Tahoma;
}


.sB-comment a {
    height: 17px;
    padding-top: 34px;
    padding-bottom: 3px;
    background-position: 0 -59px;
}

.sB-share a {
    background-position: 0 -118px;
}

.sB-goTop a {
    background-position: 0 -177px;
}

#home {
  overflow: auto;
  width: 95%;
  max-width: 960px;
  margin: 30px auto 5px;
  border: 1px solid #fff;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 0 10px -4px #4E4E4E;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.postBody p, .postCon p {
    line-height: 24px;
    margin: 7px 0
}

#header {
  padding: 10px;
  > #blogTitle {
    padding: 16px;
  }
}

#blogTitle {
  .title {
    //主标题
    font-size: 36px;
    height: 102px;
    display:flex;
    align-items:center;
    &::before {
      //头像
      border: 1px solid black;
      content: "";
      height: 100px;
      width: 100px;
      display: inline-block;
      border-radius: 50px;
      background: url("http://pic.cnblogs.com/avatar/949746/20170203181034.png");
      background-size: contain;
    }
  }
  .subtitle {
    //副标题
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0;
    padding-left: 105px;
    color: #999;
  }
}


/* 导航条 */
#navigator {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  background: $base_color;
  height: $nav_height;
  padding: 0 5px 0 15px;
  border: 1px solid #ccc;
  .blogStats {
    //博客状态
    height: $nav_height;
    line-height: 48px;
    color: #fff;
  }
  #navList {
    li {
      line-height: $nav_height;
      display: inline-block;
      float: left;
      margin: 0;
      &:hover {
        background: lighten($base_color, 10%);
      }
      a {
        font-size: 16px;
        display: -moz-inline-box;
        display: inline-block;
        padding: 0 30px;
        border: 0;
        line-height: $nav_height;
        color: #fff;
      }
    }
  }
}


.postTitle, .postTitle a {
    color: #464646;
}

#main {
  padding:0 10px;
  display: flex;
  flex-direction : row-reverse;
  justify-content:center;
  > #mainContent {
    // 主要内容区域, 显示文章标题和摘要
    flex-grow:1;
    width: auto;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: scroll;
    > .forFlow {
        margin: 0 15px;
    }
  }
  > #sideBar {
    // 侧边栏区域
    min-width: 200px;
    border: 1px dashed #bec7c2;
    overflow: hidden;
    padding: 0 8px 40px 12px;
    h3 {
      margin: 16px 0 0 -8px;
      font-size: 14px;
    }
    #sideBarMain {
      font-size: 12px;
      line-height: 22px;
      width: 190px;
      margin: 0;
      padding: 0 10px 0 0;
      background: #fff
    }
  }
}



.day {
    padding: 0;
    background: #fff;
    margin-top: 20px;
    .postTitle {
        margin: 0;
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 10px;
        padding-left: 30px;
        background: url('http://images2015.cnblogs.com/blog/459873/201601/459873-20160127211000395-986505579.gif') 0 3px no-repeat;
        border-bottom: 1px solid #ddd;
    }
    .postDesc {
      border-bottom: 1px dotted #999;
      color: #aaa;
      font-size: 12px;
      margin: 0 30px 2px;
      padding: 8px 0;
      text-align: right
    }
    .dayTitle {
      display: none;
    }
}


#profile_block {
    line-height: 24px;
    text-align: left
}

.c_b_p_desc {
    line-height: 24px;
    padding: 40px 5px 10px 30px;
    color: #888;
    border-radius: 12px;
    background: url('http://images2015.cnblogs.com/blog/459873/201601/459873-20160127211034348-518650424.png') -75px -20px no-repeat #f0f0f0;
    -ms-border-radius: 10px;
    a {
      color: lighten($base_color, 10%);
    }
}

#topics .post, .postDesc {
    background: #fff;
}

#sidebar_search .catListTitle {
    display: none;
}

.desc_img {
    margin-left: 10px;
    border: 1px solid #fff;
    box-shadow: 0 0 10px #aaa
}

.postCon {
    padding: 10px 0 0;
}

#div_digg, #footer {
    text-align: center
}

.btn_my_zzk, .comment_btn {
    cursor: pointer;
    vertical-align: middle;
    color: #fff;
    display: inline-block;
    font-family: 'Microsoft Yahei'
}


#google_q, #q {
    width: 120px;
    border: 1px solid #ccc;
    border-radius: 4px
}

.btn_my_zzk {
    font-size: 14px;
    position: relative;
    width: 60px;
    height: 26px;
    padding: 1px;
    border: none;
    border-radius: 4px;
    background: $base_color;
}

.btn_my_zzk:hover {
    background: lighten($base_color, 10%) ;
}

#div_digg {
    margin: 10px 0 0;
    padding: 5px;
    border: 3px solid $base_color;
    border-radius: 5px
}

#btn_comment_submit, .comment_btn {
    width: 120px;
    height: 48px;
    border: none;
}

#digg_tips {
    display: none
}

.comment_btn {
    font-size: 18px;
    position: relative;
    background: $base_color;
}

#commentform_title, .feedback_area_title {
    font-weight: 700;
    border-bottom: solid 6px $base_color;
}

#btn_comment_submit:hover {
    background: lighten($base_color,10%);
}

.feedback_area_title {
    font-size: 24px;
    padding: 10px;
    color: $base_color
}

.feedbackListSubtitle {
    font-size: 12px;
    color: #888
}

.feedbackListSubtitle a {
    color: #888
}

#commentform_title {
    font-size: 24px;
    margin-bottom: 10px;
    padding: 10px 20px 10px 10px;
    color: $base_color;
    background-image: none;
    background-repeat: no-repeat
}

#green_channel, .feedbackListSubtitle {
    font-weight: 400
}

#comment_form {
    margin: 10px 0;
    padding: 0
}

.commentform {
    margin: 10px 0;
    padding: 10px 20px;
    background: #fff;
}

#tbCommentBody {
    font-size: 14px;
    line-height: 1.42857143;
    height: 200px;
    padding: 5px 12px;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    resize: none;
}

.feedbackItem {
    font-size: 14px;
    line-height: 24px;
    margin: 10px 0;
    padding: 20px;
    background: #f2f2f2;
    box-shadow: 0 0 5px #aaa
}

/* 页脚 */
#footer {
  font-size: 14px;
  margin-top: 20px;
  padding: 12px;
  color: #eee;
  background: $base_color;
}


.catListTitle {
    padding: 5px;
    border: 1px solid #e2e1e1;
    border-left-width: 5px;
    border-left-color: $base_color;
    border-radius: 3px;
    background-color: #fff
}

#green_channel {
    font-size: 15px;
    width: 920px;
    padding: 20px;
    color: #fff;
    border: none;
    border-radius: 4px;
}

code {
    padding: 2px 4px;
    color: #d14;
    border: 1px solid #e1e1e8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #f7f7f9;
}

kbd {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 1.4;
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .6em;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f7f7f7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .2), 0 0 0 2px #fff inset;
    text-shadow: 0 1px 0 #fff
}

.headph:hover img {
    -webkit-transform: rotate(360deg) scale(1.5);
    transform: rotate(360deg) scale(1.5)
}

.headph img {
    width: 48px;
    height: 48px;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out
}

.Abstract {
    font-family: 'Microsoft Yahei';
    padding: 15px;
    color: #999;
    border: 2px dotted #999;
    border-radius: 4px
}

.First, .Second {
    margin: 10px 0;
    color: #fff;
    padding: 6px 20px;
    font-family: 'Microsoft Yahei'
}

.First, .Second, .Third, .demo {
    clear: both;
    border-radius: 4px
}

.First {
    font-size: 20px;
    background: $base_color;
}

.Second {
    font-size: 18px;
    background: #93c8a2;
}

.Third {
    font-family: 'Microsoft Yahei';
    font-size: 16px;
    margin: 15px 0;
    padding: 6px 20px;
    color: #999;
    background: #c6efd2
}

.note {
    font-family: 'Microsoft Yahei';
    font-size: 15px;
    clear: both;
    margin: 10px 0;
    padding: 15px 20px 15px 60px;
    box-shadow: 0 0 8px #aaa;
}

.demo {
    font-size: 16px;
    overflow: auto;
    padding: 6px 20px;
    color: #fff;
    background: orange;
}

.syntaxhighlighter .line.alt2 {
    background-color: #fff !important;
}

div#blog-comments-placeholder a:hover, div#comment_form a:hover, div#profile_block a:hover, div.catList a:hover, div.catListBlogRank a:hover, div.catListFeedback a:hover, div.catListImageCategory a:hover, div.catListLink a:hover, div.catListPostArchive a:hover, div.catListPostCategory a:hover, div.catListView a:hover {
    color: $base_color;
}

// #BlogPostCategory a, #LauncherLogoLink:hover, #RecentCommentsBlock a, #topics a:hover, .catListTag a {
//     padding: 1px 3px;
//     text-decoration: none;
//     color: #fff;
//     border-radius: 3px;
//     background-color: $base_color;
// }

#cnblogs_post_body img {
    max-width: 100% !important;
}



#calendar table {
    width: 100%;
}

#blogCalendar a u {
    color: $base_color;
    display: inline-block;
    padding: 0 7px;
    border: 1px solid $base_color;
    text-decoration: none;
    margin-top: 2px;
}
