@import "./common.scss";

/* 返回顶部 按钮 */
#scrollBtn {
    position: fixed;
    right: 15px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    @include border_radius(25px);
    > a {
      overflow: hidden;
      height: 50px;
      width: 50px;
      @include border_radius(25px);
      display: inline-block;
      -webkit-transition: opacity .5s ease;
      transition: opacity .5s ease;
      background-color: $base_color;
      opacity: .6;
      filter: alpha(opacity=60);
      &:hover {
        opacity: .9;
        filter: alpha(opacity=90);
      }
      > .trangle {
        width : 0;
        height : 0;
        border:10px transparent solid;
        border-bottom-color: #fff;
        margin:8px auto;
      }
    }
}


.clearfix {
    zoom: 1;
    &:after {
      display: table;
      content: '';
      clear: both;
    }
    &:before {
      display: table;
      content: '';
    }
}

.ff-t {
    font-family: Tahoma;
}


.sB-comment a {
    height: 17px;
    padding-top: 34px;
    padding-bottom: 3px;
    background-position: 0 -59px;
}

.sB-share a {
    background-position: 0 -118px;
}

.sB-goTop a {
    background-position: 0 -177px;
}

.day {
    padding: 0;
    background: #fff;
    margin-top: 20px;
    .postTitle {
        margin: 0;
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
        .postTitle2::before {
          content : "~ "
        }
        @extend %a_gradual;
    }
    .postDesc {
      border-bottom: 1px dotted #999;
      color: #aaa;
      font-size: 12px;
      margin: 0 30px 2px;
      padding: 8px 0;
      text-align: right
    }
    .dayTitle {
      display: none;
    }
}


#profile_block {
    line-height: 24px;
    text-align: left
}

.c_b_p_desc {
    line-height: 24px;
    padding: 10px 20px;
    color: #888;
    @include border_radius(12px);
    background: #f0f0f0 no-repeat;
    a {
      color: lighten($base_color, 10%);
    }
}

#topics .post, .postDesc {
    background: #fff;
}

#sidebar_search .catListTitle {
    display: none;
}

.desc_img {
    margin-left: 10px;
    border: 1px solid #fff;
    box-shadow: 0 0 10px #aaa
}

.postCon {

}

#div_digg, #footer {
    text-align: center
}

.btn_my_zzk {
    cursor: pointer;
    vertical-align: middle;
    color: #fff;
    display: inline-block;
    // font-family: 'Microsoft Yahei';
}


#google_q, #q {
    width: 120px;
    @include border_radius(4px);
}

.btn_my_zzk {
    font-size: 14px;
    position: relative;
    width: 60px;
    height: 26px;
    padding: 1px;
    border: none;
    @include border_radius(4px);
    background: $base_color;
}

.btn_my_zzk:hover {
    background: lighten($base_color, 10%) ;
}

#div_digg {
    margin: 10px 0 0;
    padding: 5px;
    border: 3px solid $base_color;
    @include border_radius();
}



#digg_tips {
    display: none
}

#commentform_title, .feedback_area_title {
    font-weight: 700;
    border-bottom: solid 6px $base_color;
}



.feedback_area_title {
    font-size: 24px;
    padding: 10px;
    color: $base_color
}

.feedbackListSubtitle {
    font-size: 12px;
    font-weight: 400;
    color: #888;
    a {
      color: #888;
    }
}

#commentform_title {
    font-size: 24px;
    margin-bottom: 10px;
    padding: 10px 20px 10px 10px;
    color: $base_color;
    background-image: none;
    background-repeat: no-repeat
}




.feedbackItem {
    font-size: 14px;
    line-height: 24px;
    margin: 10px 0;
    padding: 20px;
    background: #f2f2f2;
    box-shadow: 0 0 5px #aaa
}

.catListTitle {
    padding: 5px;
    border: 1px solid #e2e1e1;
    border-left-width: 5px;
    border-left-color: $base_color;
    @include border_radius(3px);
    background-color: #fff
}


.headph:hover img {
    -webkit-transform: rotate(360deg) scale(1.5);
    transform: rotate(360deg) scale(1.5)
}

.headph img {
    width: 48px;
    height: 48px;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out
}

.Abstract {
    // font-family: 'Microsoft Yahei';
    padding: 15px;
    color: #999;
    border: 2px dotted #999;
    @include border_radius(4px);
}

.First, .Second {
    margin: 10px 0;
    color: #fff;
    padding: 6px 20px;
    // font-family: 'Microsoft Yahei'
}

.First, .Second, .Third, .demo {
    clear: both;
    @include border_radius(4px);
}

.First {
    font-size: 20px;
    background: $base_color;
}

.Second {
    font-size: 18px;
    background: #93c8a2;
}

.Third {
    // font-family: 'Microsoft Yahei';
    font-size: 16px;
    margin: 15px 0;
    padding: 6px 20px;
    color: #999;
    background: #c6efd2;
}

.note {
    // font-family: 'Microsoft Yahei';
    font-size: 15px;
    clear: both;
    margin: 10px 0;
    padding: 15px 20px 15px 60px;
    box-shadow: 0 0 8px #aaa;
}

.demo {
    font-size: 16px;
    overflow: auto;
    padding: 6px 20px;
    color: #fff;
    background: orange;
}

.syntaxhighlighter .line.alt2 {
    background-color: #fff !important;
}

div#blog-comments-placeholder ,
div#comment_form ,
div#profile_block ,
div.catList ,
div.catListBlogRank ,
div.catListFeedback ,
div.catListImageCategory ,
div.catListLink ,
div.catListPostArchive ,
div.catListPostCategory ,
div.catListView  {
  @extend %a_gradual;
}

// #BlogPostCategory a, #LauncherLogoLink:hover, #RecentCommentsBlock a, #topics a:hover, .catListTag a {
//     padding: 1px 3px;
//     text-decoration: none;
//     color: #fff;
//     @include border_radius(3px);
//     background-color: $base_color;
// }

#cnblogs_post_body img {
    max-width: 100% !important;
}

#calendar table {
    width: 100%;
}

#blogCalendar a u {
    color: $base_color;
    display: inline-block;
    padding: 0 7px;
    border: 1px solid $base_color;
    text-decoration: none;
    margin-top: 2px;
}
