@import "./common.scss";

/* 整体布局结构 */
#home {
  overflow: auto;
  position: relative;
  width: 95%;
  max-width: 960px;
  margin: 30px auto 5px;
  background: #fff;
  box-shadow: 0 0 10px -4px #4E4E4E;
  opacity: 0.9;
  filter: alpha(opacity=90);
  @include border_radius(20px);
}

#header {
  background: url("http://images2015.cnblogs.com/blog/949746/201704/949746-20170428193015990-1022659063.png") no-repeat;
  background-size: contain;
  background-position: right;
  #blogTitle {
    $icon_size : 100px;
    $icon_border_width : 1px;
    padding: 16px 16px 0 16px;
    .title {
      //主标题
      font-size: 36px;
      height: ($icon_size + $icon_border_width * 2);
      display:flex;
      align-items:center;
      &::before {
        //头像
        border: $icon_border_width solid $base_color;
        content: "";
        height: $icon_size;
        width: $icon_size;
        display: inline-block;
        @include border_radius($icon_size/2);
        background:{
          image : url("../images/portrait.png");
          repeat : no-repeat;
          size : contain;
        }
      }
    }
    .subtitle {
      //副标题
      font-size: 14px;
      font-weight: 400;
      margin: 10px 0;
      padding-left: 105px;
      color: #999;
    }
  }
}
#main {
  display: flex;
  flex-direction : row-reverse;
  justify-content:center;
  > #mainContent {
    // 主要内容区域, 显示文章标题和摘要
    flex-grow:1;
    width: auto;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: scroll;
    > .forFlow {
        margin: 0 15px;
    }
  }
  > #sideBar {
    // 侧边栏区域
    min-width: 200px;
    // border: 1px dashed #bec7c2;
    overflow: hidden;
    padding: 0 8px 40px 12px;
    h3 {
      margin-top: 16px;
      font-size: 14px;
    }
    #sideBarMain {
      font-size: 12px;
      line-height: 22px;
      width: 190px;
      margin: 0;
      padding: 0 10px 0 0;
      background: #fff;
      .newsItem > #blog-news, #calendar {
        background-color: $dark_gray;
      }
      #calendar {
        border : $base_color dotted 1px;
        #blogCalendar a u {
          color: $base_color;
          display: inline-block;
          text-decoration: underline;
        }
      }
      .catListTitle {
          padding: 5px;
          text-align: center;
          @include gradual_change($base_color, lighten($base_color, 15%));
          @include border_radius(3px);
      }
      ul > li {
        text-align: center;
        line-height:30px;
        > a {
          display: block;
          background-color: $dark_gray;
          -webkit-transition: all .5s ease;
          transition: all .5s ease;
          &:hover {
            background-color: $light_gray;
            font-size: 14px;
          }
        }
      }
    }
  }

}
/* 页脚 */
#footer {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  padding: 12px;
  background: $base_color;
}
