@import "./common.scss";

/* 整体布局结构 */
#home {
  overflow: auto;
  margin-top: 48px;
}


#main {
  width: 95%;
  max-width: $container_width;
  margin : 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction : row-reverse;
  justify-content:center;
  > #mainContent {
    // 主要内容区域, 显示文章标题和摘要
    flex-grow:1;
    width: auto;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: scroll;
    > .forFlow {
        margin: 0 15px;
    }
  }
  > #sideBar {
    // 侧边栏区域
    min-width: 200px;
    // border: 1px dashed #bec7c2;
    overflow: hidden;
    padding: 0 8px 40px 12px;
    h3 {
      margin-top: 16px;
      font-size: 14px;
    }
    #sideBarMain {
      font-size: 12px;
      line-height: 22px;
      width: 190px;
      margin: 0;
      padding: 0 10px 0 0;
      background: #fff;
      .newsItem > #blog-news, #calendar {
        background-color: $dark_gray;
      }
      #calendar {
        border : $base_color dotted 1px;
        #blogCalendar a u {
          color: $base_color;
          display: inline-block;
          text-decoration: underline;
        }
      }
      .catListTitle {
          padding: 5px;
          text-align: center;
          @include gradual_change($base_color, lighten($base_color, 15%));
          @include border_radius(3px);
      }
      ul > li {
        text-align: center;
        line-height:30px;
        > a {
          display: block;
          background-color: $dark_gray;
          -webkit-transition: all .5s ease;
          transition: all .5s ease;
          &:hover {
            background-color: $light_gray;
            font-size: 14px;
          }
        }
      }
    }
  }

}
/* 页脚 */
#footer {
  text-align: center;
  font-size: 14px;
  padding: 12px;
  background: $base_color;
}
