@import "./common.scss";

/* 滚动条 */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: #fff !important;
}

::-webkit-scrollbar-thumb {
    @include border_radius(0);
    background-color: $base_color;
    &:hover {
      background-color: lighten($base_color, 10%);
    }
    &:active {
      height: 50px;
      @include border_radius(2px);
      background-color: darken($base_color, 10%);
    }
}
